*{
	margin: 0;
	padding: 0;
}

.logo{
	width: 250px;
	height: 100px;
	transition: 1s;
}

.logo :hover{
	transform: initial
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:#458790 url("img/355962.jpg") top center no-repeat;
	background-attachment:fixed;
	background-size:cover;
	font-family:Arial, sans-serif;
}

.cabecera{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 7rem;
}

.links{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	
}

.linksLI li{
	display:inline;
	margin-top: 40px;
}

.linksLI a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.linksLI{
	display: flex;
	flex-direction: row;
	width: 30%;
	justify-content: space-around;
	margin-left: 150px;
	
}



#main{
	display:flex;
	justify-content: center;
	width: 90%;
}

.tarjeta-wrap{
	display:flex;  
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;

}


.tarjeta{
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	width: 300px;
    height: 480px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
}

.tarjeta:hover{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


title{
	color: red;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#precio{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	position: relative;
	font-weight: bold;
	text-shadow:
		0 0 5px rgb(199, 197, 99),
		0 0 10px rgb(199, 197, 99),
		0 0 20px rgb(199, 197, 99);
}

#articulo{
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 90%;
	height: 80%;
}




#boton{
	background-color: #66dbdb;
	border: none;
	width: 110px;
	height: 30px;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#boton:hover{
	
	box-shadow: 1px 1px 15px 2px #20202030;
}


.atras{
	box-shadow:
		0 0 5px rgb(0, 0, 0),
		0 0 10px rgb(0, 0, 0),
		0 0 20px rgb(0, 0, 0),
		0 0 180px rgb(0, 0, 0);
		background: #ADA996;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #a8a7a7, #a1a1a1, #c5c5c5, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #bbbbbb, #DBDBDB, #b4b4b4, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	margin-top: 40px;
	width: 80%;
	height: 60%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-direction: column;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	
}

#info{
	color: #cdb772;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
	height: 70%;
	text-shadow:
		0 0 5px rgb(0, 0, 0),
		0 0 10px rgb(0, 0, 0),
		0 0 20px rgb(0, 0, 0),
		0 0 180px rgb(0, 0, 0);
}

.btn-agregar{
	font-weight: bold;
	background-color: #757575;
	border: none;
	height: 30px;
	width: 120px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.btn-agregar:hover{
	box-shadow:0 0 5px rgb(134, 134, 134),
	0 0 10px rgb(144, 144, 144),
	0 0 20px rgb(143, 143, 143),
	0 0 180px rgb(143, 143, 143);
}


#Contenedor-titulo{
    max-width: 1000px;
    height:30px;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border:1px solid #999898;
    border-bottom: none;
}

#Contenedor-titulo h3{
    width:100px;
    text-align: center;
    color: #146eb0;
}

#Contenedor-titulo #t1{
    margin-right: 20px;
}

.pie{
    max-width:1000px;
    margin:auto;
    border:1px solid #999898;
    margin-bottom: 20px;
    text-align: center;
}

tr{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

tr td{
    width:100px;
    text-align: center;
}

tr #td-id{
    color:#146eb0;
}

tr img{
    width:80px;
}

tr .titulo-td{
    font-weight: 800;
}

tr #td-precio{
    color:#2196f3;
}

tr input{
    border:1px solid #7a7a7a;
    width:100px;
    height:20px;
    text-align: center;
    padding-left: 10px;
    border-radius: 8px;
}

tr button{
    padding: 4px 15px;
    background-color:rgb(216, 43, 43);
    border-radius:15px;
    border:none;
    color:white;
    box-shadow:1px 1px 5px 0px #7a7a7a40;
    transition:all 300ms;
}

tr button:hover{
    background-color: rgb(173, 35, 35);
    box-shadow:1px 1px 5px 0px #7a7a7a80;
}


#Contenedor-precio{
    max-width: 1000px;
    height:80px;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border:1px solid #999898;
    margin-bottom: 20px;
}

#Contenedor-precio p{
    font-size: 30px;
    font-weight: 500;
    color:#2196f3;
    margin:0;
}

#Contenedor-precio h3{
    font-size: 25px;
}

#Contenedor-precio button{
    padding:10px 30px;
    background-color: rgba(19, 218, 79, 0.87);
    border-radius:15px;
    border:none;
    color:white;
    box-shadow:1px 1px 5px 0px #7a7a7a40;
    transition:all 300ms;
}

#Contenedor-precio button:hover{
    background-color: rgba(16, 180, 65, 0.87);
    box-shadow:1px 1px 5px 0px #7a7a7a80;

}