*{
    padding:0;
    margin:0;
}

body{
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(60, 0, 0));
}

section{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    width: 30%;
    border-radius: 1em;
    padding: 10px;
    height: 290px;
    background-color: rgb(58, 45, 45);
}
h1:hover{
    color:rgb(107, 2, 2);
}

div p{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: cursive;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 173px;
    height: 19px;
    border: none;
}

button {
    cursor: pointer;
    font-family: cursive;
    color: #ffffff;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: 0.5px solid black;

    background: rgb(0, 0, 0);

    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(60, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(0, 0, 0), rgb(60, 0, 0));
    background-image: -ms-linear-gradient(top, rgb(0, 0, 0), rgb(60, 0, 0));
    background-image: -o-linear-gradient(top, rgb(0, 0, 0), rgb(60, 0, 0));
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(60, 0, 0));
}

button:hover {
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(top, rgb(60, 0, 0), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(60, 0, 0), rgb(0, 0, 0));
    background-image: -ms-linear-gradient(top, rgb(60, 0, 0), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(60, 0, 0), rgb(0, 0, 0));
    background-image: linear-gradient(to bottom, rgb(60, 0, 0), rgb(0, 0, 0));
    text-decoration: none;
  }