*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

header{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;    
}

.contenedor-Logo{
    width: 900px;
    
}

.contenedor-Logo img{
    width: 500px;
    height: 150px;
}

.seleccionar{
    background-color: rgb(3, 154, 173);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

.contenedor-selecionar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pa{
    color: white;
    margin: 10px;
    font-size: 23px;
    text-shadow:
		0 0 5px rgb(3, 154, 173),
		0 0 10px rgb(3, 154, 173),
		0 0 20px rgb(3, 154, 173);
}

hr{
    color: white;
    background-color: white;
    width: 99%;
    height: 1px;
}

#main-card{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 400px;
    box-shadow: 3px 11px 11px 3px rgb(0 173 179 / 50%);
    transition: 1s;    
}

.card:hover{
    transform: scale(1.10);
}

.imagen{
    width: 100%;
    height: 80%;
}

.nombre{
    padding-left: 10px;
    font-family: cursive;
}

.genero{
    font-size: 19px;
    padding: 10px;
    text-shadow:
		0 0 5px rgb(0, 0, 0),
		0 0 10px rgb(0, 0, 0),
		0 0 20px rgb(0, 0, 0);
}

footer{
    width: 94%;
    color: white;
    padding: 30px;
    font-size: 20px;
    text-shadow:
		0 0 5px rgb(3, 154, 173),
		0 0 10px rgb(3, 154, 173),
		0 0 20px rgb(3, 154, 173);
}


