*{
    margin: 0px;
    padding: 0px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
h1{
    padding: 30px;
    color: white;
    font-size: 60px;
    font-family: Verdana;
}


#contenedor-padre{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    align-items:center;
    height: 70vh;
    width: 170vh;
    border: 3px solid black;
    box-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 60px rgba(0,178,255,1);
}

#contenedor-entrada{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    width: 50%;
    height: 100%;
}

#contenedor-ingreso{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

#contenedor-salida{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin: auto;
    visibility: hidden;
    box-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1);
}

#contenedor-datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-shadow:
    0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0);
}

#nombreUsusario{
    margin-left: 30px;
    margin-right: 30px;
    word-break: break-all;
}

#info{
    font-weight:bold;
    font-family: Verdana;
    font-size: 25px;
    padding: 0px 0px 50px 0px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

p{
    font-family: Verdana;
}

#btn{
    font-weight:bold;
    cursor: pointer;
    font-family: Verdana;
    color: white;
    border:none;
    background: rgb(71, 99, 226);
    padding: 10px 40px 10px 40px;
}

#btn:hover{
    box-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1);
}

#bienvenido{
    font-size: 25px;
    font-family: Verdana;
    font-weight:bold;
    padding-top: 20px;
}