*{
    padding:0;
    margin:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(0, 132, 255), rgb(255, 255, 255));
}

section{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    width: 40%;
    border-radius: 1em;
    padding: 10px;
    height: 290px;
    background-color: rgb(255, 255, 255);
}
h1{
    font-family: cursive;
    color: rgb(0, 132, 255);
}

div p{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: cursive;
}

input{
    width: 173px;
    height: 19px;
}

button {
    font-family: cursive;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: 0.5px solid black;

    background: rgb(0, 132, 255);

    background-image: -webkit-linear-gradient(top, rgb(0, 132, 255), #ffffff);
    background-image: -moz-linear-gradient(top, rgb(0, 132, 255), #ffffff);
    background-image: -ms-linear-gradient(top, rgb(0, 132, 255), #ffffff);
    background-image: -o-linear-gradient(top, rgb(0, 132, 255), #ffffff);
    background-image: linear-gradient(to bottom, rgb(0, 132, 255), #ffffff);
}

button:hover {
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(top, #ffffff, rgb(0, 132, 255));
    background-image: -moz-linear-gradient(top, #ffffff, rgb(0, 132, 255));
    background-image: -ms-linear-gradient(top, #ffffff, rgb(0, 132, 255));
    background-image: -o-linear-gradient(top, #ffffff, rgb(0, 132, 255));
    background-image: linear-gradient(to bottom, #ffffff, rgb(0, 132, 255));
    text-decoration: none;
  }